@import fonts

=opacity($opacity)
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
  filter: alpha(opacity=($opacity*100))
  -moz-opacity: $opacity
  -khtml-opacity: $opacity
  opacity: $opacity

=border-radius($radius: 5px)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius

.clearfix
  &:before
    content: '\0020'
    display: block
    overflow: hidden
    visibility: hidden
    width: 0
    height: 0
  &:after
    content: '\0020'
    display: block
    overflow: hidden
    visibility: hidden
    width: 0
    height: 0
    clear: both
  zoom: 1

html,
body
  background-color: #F18C33

body
  font-family: "Open Sans"
  font-weight: lighter
  font-size: 18px
  color: white
  background-color:  #F18C33
  padding: 20px

.logo
  max-width: 1400px
  margin-left: auto
  margin-right: auto
  margin-bottom: 40px
  padding: 10px 20px
  display: inline-block
  float: left
  @media screen and (max-width: 850px)
    text-align: center
    float: none
    width: 100%
    margin-bottom: 20px
    padding: 0px
  img
    max-width: 100%
.text-container
  background-color: #D67A29
  max-width: 1400px
  margin: 20px auto
  padding: 10px 20px
  +border-radius(4px)
  a
    color: #B8C7E0

header
  @extend .clearfix

.contact-details
  margin-left: 20px
  display: inline
  float: right
  @media screen and (max-width: 850px)
    display: block
    float: none
    width: 100%
    text-align: center
    margin: 0px 0px 20px 0px
  p
    margin: 0

// Sticky Footer
$footer-height: 20px
.full-content-wrapper
  min-height: 100%
  min-height: 100vh
  margin: 0 auto (-$footer-height) auto
footer.foot, .sticky-footer-push
  height: $footer-height
.foot
  margin-top: -$footer-height
  float: right